button {
  cursor: pointer;
}
article {
  background-color: white;
}

.img-BannerApropos {
  margin-bottom: 50px;
  .Bg-Apropos {
    border-radius: 10px;
    object-fit: cover;
  }
  .rouded {
    width: auto;
  }
}

.Propos_title {
  padding: 9px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .Propos_List {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ff6060;

    border-radius: 10px;
    text-align-last: left;
    color: white;
  }
}

.Propos_unList {
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-bottom: 20px;

  .accordeonMenu {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    .arrowAccordeon {
      font-size: 20px;
      transition: transform 0.3s ease;
      transform: rotate(0deg);
      padding: 0;
      margin: 10px;
    }
  }

  .content {
    color: #ff6060;
    padding: 10px;
    background-color: #f2f2f2;
    margin: 0;
  }

  &.rounded {
    border-radius: 10px;
    background-color: #ff6060;
    margin: 10px;
    width: 100%;
    height: 60px;
    margin-bottom: 44px;
  }
}
