@media screen and (max-width: 425px) {
  .img-Banner .bg-string {
    top: 20%;
    left: 160px;
    font-size: 1rem;
  }
}

.img-Banner {
  position: relative;
  width: 100%;

  padding-bottom: 25%;
  .Bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    object-fit: cover;
    border-radius: 25px;
    cursor: pointer;
  }
}
.bg-string {
  cursor: pointer;
  display: flex;
  color: white;
  position: absolute;
  font-size: 2.3em;
  top: 28%;
  left: 720px;
  transform: translate(-50%, -50%);
  text-align: center;
}
