@media screen and (max-width: 768px) {
  .img-Banner .bg-string {
    top: 30%;
    left: 118px;
    font-size: 1rem;
    text-align: left;
    margin-left: 20px;
  }
  .Bg-img {
    height: 100px;
  }
  article .img-Banner {
    height: 120px;
  }
}

.img-Banner {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  height: 270px;
}
.Bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  object-fit: cover;
  border-radius: 25px;
  cursor: pointer;
}
.bg-string {
  cursor: pointer;
  display: flex;
  color: white;
  position: absolute;
  font-size: 2.3em;
  top: 34%;
  left: 48%;
  transform: translate(-50%, -50%);
  text-align: center;
}
