@media screen and (max-width: 425px) {
  .img-Banner .bg-string {
    top: 14%;
    left: 50%;
    font-size: 67%;
  }
}

.img-Banner {
  .Bg-img {
    position: relative;
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 25px;
    opacity: 1.5;
    cursor: pointer;
  }
}
.bg-string {
  cursor: pointer;
  display: flex;
  color: white;
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, 80%);
}
