.img-Banner {
  .Bg-img {
    position: relative;
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 25px;
    opacity: 1.5;
    cursor: pointer;
  }
}
.bg-string {
  cursor: pointer;
  display: flex;
  color: white;
  position: absolute;
  top: 13%;
  bottom: 713px;
  left: 361px;
  right: 26%;
}
