.Bg-img {
  position: relative;
  display: flex;
  margin: auto;
  border-radius: 25px;
}
.bg-string {
  display: flex;
  color: white;
  position: absolute;
  top: 200px;
  bottom: 600px;
  left: 500px;
  right: 0;
}
