@media screen and (max-width: 768px) {
  .homePage {
    margin-top: 50px;
  }
  .homePage .section {
    align-content: center;
    height: 283px;
  }

  .homePage .section .log-title {
    top: 170px;
    bottom: 546px;
    left: 9px;
    right: 10px;
    font-size: 23px;
  }
  .section-img {
    height: 283px;
  }
}

.homePage {
  margin-top: 50px;
  background-color: #f6f6f6;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
  border-radius: 10px;
}
.log-title {
  font-size: 24px;
  margin-left: 10px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 56%;
  bottom: 500px;
  left: 10px;
  right: 10px;
}
.section:hover {
  cursor: pointer;
  transform: scale(1.12);
  z-index: 1;
}
section {
  position: relative;
  border-radius: 10px;
  width: clamp(281px, 439px, 362px);
  height: 362px;
  justify-content: space-around;
  margin: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition: transform 0.3s ease-in-out;
}
.section-img {
  width: clamp(281px, 439px, 362px);
  height: 362px;
  flex-grow: 1;
  display: flex;
  object-fit: cover;
  border-radius: 10px;
}
.LinkCard {
  display: flex;
  flex-wrap: wrap;
}
