@media screen and (max-width: 768px) {
  main .homePage {
    margin-left: 0;
    margin-right: 0;
    background-color: white;
  }
  .homePage .section {
    align-content: center;
    height: 270px;
    margin: 15px;
    width: clamp(270px, 215px, 251px);
  }

  .homePage .section .log-title {
    top: 120px;
    bottom: 546px;
    left: 14px;
    right: 10px;
    font-size: 23px;
  }
  section .section-img {
    width: 100%;
  }
}

.homePage {
  margin-top: 50px;
  background-color: #f6f6f6;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
}
.log-title {
  font-size: 24px;
  margin-left: 10px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 56%;
  bottom: 500px;
  left: 10px;
  right: 10px;
}
.section:hover {
  cursor: pointer;
  transform: scale(1.12);
  z-index: 1;
}
section {
  position: relative;
  border-radius: 10px;
  width: clamp(320px, 340px, 340px);
  height: 340px;
  justify-content: space-around;
  margin: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition: transform 0.3s ease-in-out;
}
.section-img {
  width: 100%;
  flex-grow: 1;
  display: flex;
  object-fit: cover;
  border-radius: 10px;
}
.LinkCard {
  display: flex;
  flex-wrap: wrap;
}
.rectanglelinear {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 250, 250, 0),
    rgba(0, 0, 0, 0.5) 100%
  );

  border-radius: 10px;
}
