@media screen and (max-width: 768px) {
  footer .footer_title {
    font-size: 12px;
  }
}

footer {
  background-color: black;
  margin-top: 50px;

  .footer_logo {
    display: flex;
    margin: auto;
    margin-top: 20px;
    padding-top: 40px;
  }
  .footer_title {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    color: white;
    // font-size: 24px;
  }
}
