@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@media screen and (max-width: 768px) {
  html body {
    padding: 20px;
  }
}
a:focus {
  border: dashed 2px black;
}
body {
  padding: 50px;
  margin: auto;
  max-width: 1440px;
  min-width: 320px;
  font-size: large;
  font-family: "Montserrat", sans-serif;
}
