@media screen and (max-width: 768px) {
  body .enTete {
    flex-direction: column;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
  }
  .enTete .ownerProduct {
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
  }
  ul {
    align-self: auto;
  }
  ul .tagsProduct {
    font-size: 12px;
    align-items: center;
    padding: 19px;
    width: 88px;
    height: 10px;
    box-sizing: content-box;
    white-space: nowrap;
  }
  .img-logement {
    width: 60px;
    height: 55px;
  }
  article .nameOwner {
    text-align: center;
    padding: 12px;
  }
}
.articleProduct {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: inherit;
  max-width: 100%;
}

.titleProduct {
  font-size: 36px;
  color: #ff6060;
  margin-right: auto;
  margin: 0;
}
.locationtitle {
  font-size: 18px;
  color: #ff6060;
  margin-right: auto;
  margin: 0;
}
.img-cover {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 600px;
}
.ListProduct {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  align-self: auto;
}
.tagsProduct {
  color: white;
  background-color: #ff6060;
  border-radius: 10px;
  font-size: 14px;
  padding: 9px;
  display: flex;
  margin: 10px;
  justify-content: center;
  cursor: pointer;
  height: 33px;
  align-items: center;
  box-sizing: content-box;
}
.enTete {
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
}
.ownerProduct {
  display: flex;
  margin: 10px;
  flex-wrap: nowrap;
  justify-content: flex-end;
  max-width: 100%;
  flex-direction: column-reverse;
}
.img-logement {
  border-radius: 95%;
  display: flex;
  align-self: center;
  max-width: 100%;
}
.nameOwner {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80px;
  padding: 22px;
}

.flex-row {
  display: flex;
  margin-bottom: 20px;
}
.stars {
  display: flex;
  justify-content: space-between;
}

.statusLogement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.divised {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 100px;
  font-size: 18px;
}
