.starsratting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.greyStar {
  display: flex;
}
.ratingStars {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  .p-stars {
    background-color: white;
  }
}
